<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Attendance App</title>

    <style>
        body {
            font-family: sans-serif;
        }
        th, td {
            padding: 10px;
            text-align: center;
        }
    </style>

</head>
    <body>
        <h1>Student Attendance App</h1>
        <h3>Students</h3>
        <table border="1">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Student Number</th>
                <th>Course</th>
            </tr>
        {% for person in students %}
            <tr>
                <td>{{ person.first_name }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.student_number }}</td>
                <td>{{ person.course }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <h3>Attendance Record</h3>
        <table border="1">
            <tr>
                <th>Date</th>
                {% for person in students %}
                <th>{{ person.first_name }} {{ person.last_name }}</th>
                {% endfor %}
            </tr>
        {% for record in attendance %}
            <tr>
                <td>{{ record.class_date }}</td>
                <td>{{ record.john_present }}</td>
                <td>{{ record.michael_present }}</td>
                <td>{{ record.beth_present }}</td>
                <td>{{ record.nick_present }}</td>
                <td>{{ record.michael_present }}</td>
            </tr>
        {% endfor %}
        </table>
        <br>
        <h3>Student Role Call</h3>
        <form action="" method="post">{% csrf_token %}
            {% for person in students%}
            <input type="checkbox" name="{{ person.first_name }}_is_present">
            <label>{{person.first_name}} {{person.last_name}}</label>
            <br>
            {% endfor %}
            <br>
            <input type="submit" value="Submit">
        </form>
        <br>
    </body>
</html>